<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<!-- Include top navbar -->
<div th:replace="fragments/navbar :: navbar"></div>

<h2>All Users</h2>

<table border="1">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Username</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}">1</td>
        <td th:text="${u.email}">email@example.com</td>
        <td th:text="${u.username}">username</td>
        <td th:text="${u.role}">CUSTOMER</td>
    </tr>
    </tbody>
</table>

</body>
</html>
